.App-header {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 8px;
    overflow-y: scroll;

    * {
        transition: 0.3s ease all;
    }
}

.drag-n-drop {
    padding-top: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    align-items: start;
}
.dnd-group {
    background-color: #49505e;
    border-radius: 5px;
    padding: 0.5rem;
}
.dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    color: #282c34;
    font-weight: bold;
}
.dnd-item:not(:last-of-type) {
    margin-bottom: 0.5rem;
}
.dnd-item {
    margin: 0;
    font-size: 15px;
    padding: 10px 0;
}
.group-title {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.current {
    background-color: #282c34;
}
