// #resume-bulder {
//     background: white;
//     transition: 0.3s ease;
//     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

//     &:focus-within {
//         background: #dddce0;
//         transition: 0.3s ease;
//     }

//     .a__item {
//         background: transparent;
//         transition: 0.3s ease;
//         border-radius: 5px;
//         border: 1px solid rgba(46, 126, 255, 0);

//         &:hover {
//             border: 1px solid rgba(46, 126, 255, 0.709);
//         }

//         textarea:focus + .a__item {
//             border: 1px solid red;
//         }

//         &:focus-within {
//             background: white;
//             transition: 0.3s ease;
//         }
//     }

//     .group__item {
//     }
// }

.group__item__border {
    & > div {
        .bord_b_2,
        .bord_b_1 {
            border-bottom: 1.5px dashed #b9b9b9;
        }

        &:nth-last-child(1) {
            .bord_b_2 {
                border-bottom: none;
            }
            .bord_b_1 {
                border-bottom: none;
            }
        }
        &:nth-last-child(2) {
            .bord_b_2 {
                border-bottom: none;
            }
            .bord_b_1 {
                border-bottom: 1.5px dashed #b9b9b9;
            }
        }
    }
}
