.GridContainer {
    /* max-width: 800px; */
    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    grid-gap: 10px;

    @media (max-width: 991px) {
        grid-template-columns: repeat(calc(var(--col-count) - 1), 1fr);
    }

    @media (max-width: 765px) {
        grid-template-columns: repeat(calc(var(--col-count) - 2), 1fr);
    }

    @media (max-width: 570px) {
        grid-template-columns: repeat(calc(var(--col-count) - 4), 1fr);
    }
    @media (max-width: 420px) {
        grid-template-columns: repeat(calc(var(--col-count) - 5), 1fr);
    }
}
